@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meow+Script&display=swap");

/* global settings */
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4em;
  transition: transform 0.3s ease-in-out;
  
}

.App {
  text-align: center;
}

/* header stylings */
header {
  
  color: black;
}

header h1 {
  font-size: 4rem;
  font-family: "Meow Script", sans-serif;
  height:5rem;
}

/* footer styling */
footer {
  margin-top: 1rem;
  height:20vh;
  align-content: flex-end;
}

/* form styling and ui elements */
button{
  cursor: pointer;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 0.75rem;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  grid-column: 1/3;
  width: 90%;
  margin: 0 auto;
}

form input {
  font-size: 1.5rem;
  grid-column: 1/4;
  width: 90%;
  margin: 0 auto;
  border: 4px solid rgba(40,40,40, .4) ;
  background-color: rgba(40,40,40, .2);
  border-radius: 12px;
  padding-left: 1rem;
}

.submit {
  font-size: 1rem;
  grid-column: 2/3;
  background-color: slategray;
  height:2rem;
  padding-left: 0;
  color:white;
  max-width: 200px;
  min-width: 80px;
 cursor: pointer;
  border-radius: 8px;
  border: 2px solid rgba(40,40,40, .5);
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 5px rgba(30,30,30, .5);
}

.submit:active{
  transform: translateY(4px);
  box-shadow: 0 1px rgba(30,30,30, .5);
}

.clear {
  font-size: 1.25rem;
  grid-column: 3/4;
  background-color: slategray;
  height:2rem;
  padding-left: 0;
  color:white;
  max-width: 200px;
 
  border-radius: 8px;
  border: 2px solid rgba(40,40,40, .5);

  width: 90%;
  margin: 0 auto;
}

.checkOne,
.checkThree {
  grid-column: 2/3;
}

.checkTwo,
.checkFour {
  grid-column: 3/4;
}

/* main page stylings */
body{
  background: radial-gradient(circle at 50%, yellow, lightgoldenrodyellow 55%, #bdf 65%, lightblue 75%);
  overflow-x: hidden;
}

#login{
  height:70vh;
  padding-top:20vh;
  
}

#login div{
  margin-top: 1rem;
}

#weatherPage, #weatherLoading{
  min-height:70vh;
  
}



#weatherAlert{
  
  width:70vw;
  max-width: 750px;
  margin:0 auto;
 
}

#weatherAlert h3{
  background-color: rgba(250,0,0,0.8);
  border-radius: 16px 16px 0 0;
  
  
}

#weatherAlert div{
  background-color: rgba(250,0,0,0.2);
  border-radius: 0 0 16px 16px;
  text-align: left;
  text-indent: 1rem;

}

#weatherAlert div p{
  margin-left:.75rem;
}

/* #weatherAlert div p{
  padding-left: .5rem;
  border: 4px solid rgba(250,0,0, .8) ;
  border-radius: 0 0 16px 16px;
} */

#weatherNowContainer, #weatherDailyContainer{
  width:70vw;
  max-width:750px;
  margin:.5rem auto;
  background-color: rgba(40,40,40, .1);
  border-radius: 16px;
  border:4px solid rgba(40,40,40, .4) ;

}

#weatherNowContainer h1, #weatherDailyContainer h1{
  padding:.25rem;
  background: -webkit-radial-gradient(blue,black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.weatherButton{
  font-size: 1rem;
  background-color: slategray;
  height:2rem;
  width:20vw;
  min-width:80px;
  color:white;
  max-width: 200px;
  padding: .2rem;
  border-radius: 8px;
  border: 2px solid rgba(40,40,40, .5);
  box-shadow: 0 5px rgba(30,30,30, .5);
 
}

.weatherButton:active{
  transform: translateY(4px);
  box-shadow: 0 1px rgba(30,30,30, .5);
}

#weatherDailyButtons{
  display:flex;
  justify-content: space-around;
  margin:.5rem auto;
}

#weatherPage h3{
  margin-top: 1rem;
}



/* animated clouds for weather page loading below */
#cloud1{
  /* height:100px;
  width:100px; */
  background-color: transparent;
  position:absolute;
  top:5vh;
  left:-35vw;
}

#cloud2{
  /* height:100px;
  width:100px; */
  background-color: transparent;
  position:absolute;
  top:15vh;
  left:0vw;
  
}

#cloud1Mov{
  /* height:100px;
  width:100px; */
  background-color: transparent;
  position:absolute;
  top:5vh;
  left:-35vw;
  animation: 2.5s ease-in-out forwards cloud1Mov;
}

@keyframes cloud1Mov{
  0%{ transform: translateX(0vw);}
  100%{ transform: translateX(-200vw);}
}

#cloud2Mov{
  /* height:100px;
  width:100px; */
  background-color: transparent;
  position:absolute;
  top:15vh;
  left:0vw;
  animation: 2.5s ease-in-out forwards cloud2Mov;
  
}

@keyframes cloud2Mov{
  0%{ transform: translateX(0vw);}
  100%{ transform: translateX(200vw);}
}

nav{
  display:flex;
  justify-content:space-around;
  align-items:center;
 
}

#logOut{
  font-size: 1rem;
  background-color: slategray;
  height:2rem;
  width:20vw;
  color:white;
  max-width: 200px;
  min-width: 80px;
  padding: .2rem;
  border-radius: 8px;
  border: 2px solid rgba(40,40,40, .5);
  box-shadow: 0 5px rgba(30,30,30, .5);
}

#logOut:active{
  transform: translateY(4px);
  box-shadow: 0 1px rgba(30,30,30, .5);
}



/* one break point for large screens */

@media screen and (min-width: 768px) {
  html{
    font-size:24px;
  }

  #cloud1{
    transform: scale(2.5);
    top:15vh;
     left:10vw;
  }
  
  #cloud2{
    transform: scale(2.5);
    top:25vh;
    left:30vw;
  }



  #cloud1Mov{
    top:15vh;
     left:10vw;
  }
  
  #cloud2Mov{
    top:25vh;
  left:30vw;
  }

  @keyframes cloud1Mov{
    0%{ transform: scale(2.5) translateX(0vw);}
    100%{ transform: translateX(-200vw);}
  }
  @keyframes cloud2Mov{
    0%{ transform: scale(2.5) translateX(0vw);}
    100%{ transform: translateX(200vw);}
  } 
    
}
  
