@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meow+Script&display=swap");
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

header {
  
  color: black;
}

header h1 {
  font-size: 4rem;
  font-family: "Meow Script", sans-serif;
  height:10vh;
}

footer {
  
  height:20vh;
  align-content: flex-end;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 0.75rem;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  grid-column: 1/3;
  width: 90%;
  margin: 0 auto;
}

form input {
  font-size: 1.5rem;
  grid-column: 1/4;
  width: 90%;
  margin: 0 auto;
}

.submit {
  font-size: 1.5rem;
  grid-column: 2/3;
  width: 90%;
  margin: 0 auto;
}

.clear {
  font-size: 1.5rem;
  grid-column: 3/4;
  width: 90%;
  margin: 0 auto;
}

.checkOne,
.checkThree {
  grid-column: 2/3;
}

.checkTwo,
.checkFour {
  grid-column: 3/4;
}

body{
  background: radial-gradient(circle at 50%, yellow, lightgoldenrodyellow 55%, #bdf 65%, lightblue 75%);
}

#login{
  height:70vh;
  padding-top:20vh;
  
}


@media screen and (min-width: 768px) {
  html{
    font-size:24px;
  }
}
  
